img {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    width: 200px;
    padding: 3px;
    margin: 0px;
}

h1 {
    color: rgb(52, 128, 45);
    font-size: 50px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

h2 {
    color: rgb(52, 128, 45);
    font-size: 35px;
    text-align: center;
    padding: 0px;
    margin: 10px 0px;
}

p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding: 0px;
}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
